{% load staticfiles %}

{% load location %}

<div class="ui secondary pointing blue menu {# fixed top #}" style="font-size:18px;">
  <div class="ui container">
    <a href="{% url 'blog:archives:index' %}" class="item" style="font-weight:bold;color:green">deadend</a>
    {% if request.path|location:'blog' %}
    <a href="{% url 'blog:archives:index' %}" class="item active">博客 </a>
    <a class="item">爬虫 </a>
    <a class="item">翻墙 </a>

    <div class="right menu">
      <div class="item" style="margin-bottom:4px;">
        <div class="ui mini transparent icon input">
          <input type="text" id="search-keyword" value="{{ pattern }}" placeholder="Search ...">
          <i class="search link icon" id="search-btn"></i>
        </div>
      </div>
      {# <a class="ui item">登出 </a>  #}
    </div>
    {% else %}
    <a href="{% url 'blog:archives:index' %}" class="item"><i class="home icon"></i></a>
    <a href="{% url 'about:index' %}" class="item active">关于 </a>
    {% endif %}
  </div>
</div>