{% load staticfiles %}

<br>
<div class="ui grey vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui two column stackable grid">
      <div class="column">
        <h4 class="ui header">网络</h4>
        <div class="ui link list">
          <a class="item" href="https://github.com/Semantic-Org/Semantic-UI" target="_blank">GitHub 库</a>
          <a class="item" href="http://1.semantic-ui.com">1.x 版本文档</a>
          <a class="item" href="http://legacy.semantic-ui.com">0.x 版本文档</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui header">Learn</h4>
        <div class="ui link list">
          <a href="#" class="disabled item">Example Layouts</a>
          <a href="#" class="item">The Project</a>
          <a href="#" class="item">Roadmap</a>
          <a href="#" class="item">About the Author</a>
        </div>
      </div>
    </div>
    <div class="ui section divider"></div>
    <a href="/"><img src="{% static 'img/share/favicon_72.ico' %}" class="ui centered mini image"></a>
    <div class="ui horizontal small divided link list">
      <a class="item" href="/" target="_blank">Free &amp; Open Source (MIT)</a>
    </div>
  </div>
</div>