{% load staticfiles %}

{% load location %}

<div class="ui secondary pointing blue menu {# fixed top #}" style="font-size:18px;">
  <div class="ui container">
    <a href="/blog/" class="item" style="font-weight:bold;color:green">deadend</a>
    <a href="/blog/" class="item active">博客 </a>
    <a class="item">任务 </a>
    <a class="item">翻墙 </a>
    
    {# 目前仅博客页面显示搜索框 #}
    {% if request.path|location:'blog' %}
    <div class="right menu">
      <div class="item" style="margin-bottom:4px;">
        <div class="ui mini transparent icon input">
          <input type="text" id="search-keyword" value="{{ pattern }}" placeholder="Search ...">
          <i class="search link icon" id="search-btn"></i>
        </div>
      </div>
      {# <a class="ui item">登出 </a>  #}
    </div>
    {% endif %}
  </div>
</div>