{% load staticfiles %}

<div class="ui small basic share modal">
  <div class="ui icon header" id="md-title">
    <i class="icon"></i>
    <span></span>
  </div>
  <div class="content modal-content" id="md-content">
    <p></p>
  </div>
  <div class="actions" id="md-actions">
    <div class="ui red basic cancel inverted button no">
      <i class="remove icon"></i>
      <span></span>
    </div>
    <div class="ui green ok inverted button yes">
      <i class="checkmark icon"></i>
      <span></span>
    </div>
  </div>
</div>