{% load staticfiles %}

<div class="ui secondary pointing blue menu {# fixed top #}">
  <div class="ui container">
    <div class="header item">deadend</div>
    <a class="item active">博客 </a>
    <a class="item">任务 </a>
    <a class="item">翻墙 </a>
    <div class="right menu">
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      {# <a class="ui item">登出 </a>  #}
    </div>
  </div>
</div>