{% load staticfiles %}

<br>
<div class="ui grey vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui two column stackable grid">
      <div class="column">
        <h4 class="ui header">Sites</h4>
        <div class="ui link list">
          <a class="disabled item" target="_blank">Project</a>
          <a class="disabled item" target="_blank">Site Map</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui header">Contact</h4>
        <div class="ui link list">
          <a class="item" href="https://github.com/deadEnding" target="blank"><i class="github icon"></i> deadEnding</a>
          <a class="item" href="http://weibo.com/u/3316998437" target="blank"><i class="weibo icon"></i> DOOOOOOOC</a>
          <a class="item" href="/blog/"><i class="coffee icon"></i> About Me</a>
        </div>
      </div>
    </div>
    <div class="ui section divider"></div>
    <a href="/blog/"><img src="{% static 'img/share/favicon_72.ico' %}" class="ui centered mini image"></a>
    <div class="ui horizontal small divided link list">
      <a class="item" href="/blog/">deadend from BUPT</a>
    </div>
  </div>
</div>