{% load staticfiles %}

<br>
<div class="ui blue vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable grid">
      <div class="three wide column">
        <h4 class="ui header">社区</h4>
        <div class="ui link list">
          <a class="item" href="https://www.transifex.com/organization/semantic-org/" target="_blank">协助翻译</a>
          <a class="item" href="https://github.com/Semantic-Org/Semantic-UI/issues" target="_blank">提交问题</a>
          <a class="item" href="https://gitter.im/Semantic-Org/Semantic-UI" target="_blank">加入讨论</a>
          <a class="item" href="/cla.html" target="_blank">CLA</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui header">网络</h4>
        <div class="ui link list">
          <a class="item" href="https://github.com/Semantic-Org/Semantic-UI" target="_blank">GitHub 库</a>
          <a class="item" href="http://1.semantic-ui.com">1.x 版本文档</a>
          <a class="item" href="http://legacy.semantic-ui.com">0.x 版本文档</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui header">Learn</h4>
        <div class="ui link list">
          <a href="#" class="disabled item">Example Layouts</a>
          <a href="#" class="item">The Project</a>
          <a href="#" class="item">Roadmap</a>
          <a href="#" class="item">About the Author</a>
        </div>
      </div>
      <div class="seven wide right floated column">
        <h4 class="ui teal header">帮助维持本项目</h4>
        <p> 社区为 Semantic UI 持续不断的发展提供了直接的支持。</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="7ZAF2Q8DBZAQL">
          <button type="submit" class="ui large teal button">现在捐赠</button>
        </form>
      </div>
    </div>
    <div class="ui section divider"></div>
    <a href="/"><img src="{% static 'img/share/favicon_32.ico' %}" class="ui centered mini image"></a>
    <div class="ui horizontal small divided link list">
      <a class="item" href="/" target="_blank">Free &amp; Open Source (MIT)</a>
    </div>
  </div>
</div>