{% extends '__blog_base__.html' %}

{% load staticfiles %}

{% block subloads %}
{% load page_url %}
{% endblock %}

{% block ttl %}测blog{% endblock %}


{% block subcss %}{% endblock %}


{% block main %}
{% for entry in entry_list %}
<article>
  <h3><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h3>
  <p class="article-meta">发表于 {{ entry.create_time |date:"Y-m-d H:i" }}</p>
  <p>{{ entry.excerpt }}</p>
  <p><a href="{{ entry.get_absolute_url }}">继续阅读 <i class="angle double right icon"></i></a></p>
</article>
{% if not forloop.last %}
<div class="ui divider"></div>
{% endif %}
{% endfor %}

<div class="ui center aligned segment" style="border:none;box-shadow:none;background-color:transparent">
  <div class="ui brown inverted pagination menu">
  {% for page in page_obj.paginator.page_range %}
    <a href="{{ request.path|page_url:page }}" class="{% if page == page_obj.number %}active{% endif %} item" style="font-weight:bold">{{ page }}</a>
  {% endfor %}
  </div>
</div>
  
{% endblock %}


{% block subjs %}{% endblock %}