{% extends '__blog_base__.html' %}

{% load staticfiles %}

{% block subloads %}
{% load entries %}
{% endblock %}

{% block ttl %}{{ ttl }}{% endblock %}


{% block subcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/entry.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/share/markdown.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/share/styles/solarized-light.css' %}">
{% endblock %}


{% block fullscreen %}
<!-- 博文全屏按钮 -->
{% if entry %}
<span class="ui slider checkbox full-screen">
  <input type="checkbox" name="newsletter" id="fullscreen">
  <label></label>
</span>
{% endif %}
{% endblock %}


{% block main %}
<article class="markdown-body">
  <div class="entry-header">
    <h2 class="ui header">{{ entry.title }}</h2>
    <p class="article-meta">
      <span><i class="calendar outline icon"></i> {{ entry.publish_date |date:"Y-m-d H:i" }} </span>
      <span><i class="unhide icon"></i> {{ entry|entry_counter:"page_view_num" }} </span>
      <span><i class="thumbs outline up icon"></i> <span class="useful-num">{{ entry|entry_counter:"useful_num" }}</span></span>
      <span><i class="thumbs outline down icon"></i> <span class="useless-num">{{ entry|entry_counter:"useless_num" }}</span></span>
      {# <span><i class="comments outline icon"></i> 0 </span> #}
    </p>
    <div>{{ entry.html_content|safe }}</div>
  </div>
</article>

<div class="ui one column stackable center aligned grid" style="margin: 10px 0px;">
   <div class="column twelve wide">
      <div class="ui left labeled button">
        <div class="ui basic right pointing teal label not-link useful-num">{{ entry|entry_counter:"useful_num" }}</div>
        <a class="ui teal button" id="useful-btn"><i class="thumbs outline up icon"></i></a>
      </div>
      <div class="ui labeled button">
        <a class="ui orange button" id="useless-btn"><i class="thumbs outline down icon"></i></a>
        <div class="ui basic orange left pointing label not-link useless-num">{{ entry|entry_counter:"useless_num" }}</div>
      </div>
   </div>
</div>
{% endblock %}


{% block snippet %}{% endblock %}


{% block fix %}
{% comment %}
<div style="position:fix">
  <button class="circular ui icon button">
    <i class="icon settings"></i>
  </button>
</div>
{% endcomment %}
{% endblock %}


{% block subjs %}
<script src="{% static 'js/share/highlight.pack.js' %}"></script>
<script src="{% static 'js/blog/entry.js' %}"></script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    "tex2jax": { inlineMath: [ ['$','$']] }
  });
</script>
{% endblock %}