{% extends '__blog_base__.html' %}

{% load staticfiles %}


{% block ttl %}{% endblock %}


{% block subcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog/entry.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/share/markdown.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/share/styles/solarized-light.css' %}">
{% endblock %}


{% block main %}
<article class="markdown-body">
  <div class="entry-header">
    <h2 class="ui header">{{ entry.title }}</h2>
    <div>{{ entry.html_content|safe }}</div>
  </div>
</article>
{% endblock %}


{% block subjs %}
<script src="{% static 'js/share/highlight.pack.js' %}"></script>
<script >hljs.initHighlightingOnLoad();</script>
{% endblock %}