{% extends '__blog_base__.html' %}

{% load staticfiles %}


{% block ttl %}测blog{% endblock %}


{% block subcss %}{% endblock %}


{% block leftbody %}
<div class="row">
  <div class="ui large breadcrumb">
    <a class="section">Home</a>
    <i class="right angle icon divider"></i>
    <a class="section">Linux</a>
    <i class="right angle icon divider"></i>
    <div class="active section">MySQL</div>
  </div>
</div>

<div class="row" style="margin-top:12px;">
  <div class="ui teal small labels">
    <a class="ui label">Fun</a>
    <a class="ui label">Happy</a>
    <a class="ui label">Young</a>
    <a class="ui label">Creativity</a>
  </div>
  <div class="ui divider"></div>
</div>

  
<article>
  <h3><a href="#">Linux网络编程</a></h3>
  <p class="article-meta">发表于 2016-04-01</p>
  <p>Linux 网络编程是Linux环境下编程的重要组成部分.</p>
  <p><a href="#">继续阅读 <i class="angle double right icon"></i></a></p>
</article>

<div class="ui divider"></div>

<article>
  <h3><a href="#">Python拾穗</a></h3>
  <p class="article-meta">发表于 2016-03-31</p>
  <p>Python 是一门弱类型的编程语言.</p>
  <p><a href="#">继续阅读 <i class="angle double right icon"></i></a></p>
</article>

<div class="ui divider"></div>

<article>
  <h3><a href="#">Python拾穗</a></h3>
  <p class="article-meta">发表于 2016-03-31</p>
  <p>Python 是一门弱类型的编程语言.</p>
  <p><a href="#">继续阅读 <i class="angle double right icon"></i></a></p>
</article>

<div class="ui divider"></div>

<article>
  <h3><a href="#">Python拾穗</a></h3>
  <p class="article-meta">发表于 2016-03-31</p>
  <p>Python 是一门弱类型的编程语言.</p>
  <p><a href="#">继续阅读 <i class="angle double right icon"></i></a></p>
</article>

<div class="ui divider"></div>

<article>
  <h3><a href="#">Python拾穗</a></h3>
  <p class="article-meta">发表于 2016-03-31</p>
  <p>Python 是一门弱类型的编程语言.</p>
  <p><a href="#">继续阅读 <i class="angle double right icon"></i></a></p>
</article>

<div class="ui divider"></div>

<article>
  <h3><a href="#">Python拾穗</a></h3>
  <p class="article-meta">发表于 2016-03-31</p>
  <p>Python 是一门弱类型的编程语言.</p>
  <p><a href="#">继续阅读 <i class="angle double right icon"></i></a></p>
</article>

<div class="ui divider"></div>

<article>
  <h3><a href="#">Python拾穗</a></h3>
  <p class="article-meta">发表于 2016-03-31</p>
  <p>Python 是一门弱类型的编程语言.</p>
  <p><a href="#">继续阅读 <i class="angle double right icon"></i></a></p>
</article>

<div class="ui divider"></div>

<article>
  <h3><a href="#">Python拾穗</a></h3>
  <p class="article-meta">发表于 2016-03-31</p>
  <p>Python 是一门弱类型的编程语言.</p>
  <p><a href="#">继续阅读 <i class="angle double right icon"></i></a></p>
</article>

<div class="ui divider"></div>

<article>
  <h3><a href="#">Python拾穗</a></h3>
  <p class="article-meta">发表于 2016-03-31</p>
  <p>Python 是一门弱类型的编程语言.</p>
  <p><a href="#">继续阅读 <i class="angle double right icon"></i></a></p>
</article>

<div class="ui divider"></div>

<article>
  <h3><a href="#">Python拾穗</a></h3>
  <p class="article-meta">发表于 2016-03-31</p>
  <p>Python 是一门弱类型的编程语言.</p>
  <p><a href="#">继续阅读 <i class="angle double right icon"></i></a></p>
</article>

<div class="ui divider"></div>

<article>
  <h3><a href="#">Python拾穗</a></h3>
  <p class="article-meta">发表于 2016-03-31</p>
  <p>Python 是一门弱类型的编程语言.</p>
  <p><a href="#">继续阅读 <i class="angle double right icon"></i></a></p>
</article>
{% endblock %}


{% block subjs %}{% endblock %}