body {
    /*background-color: #faefcc;*/
    background-image:url('/static/img/share/background/greyzz.png');
    /*Download from http://subtlepatterns.com/*/
}

.lightgray {
    color: red;
}

.modal-content {
    font-size: 15px !important;
    text-align: center;
}


/* scrollbar style */ 
/* [FROM] http://www.pakmax.net/2014/08/14-best-free-css-scrollbar-style-for.html */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

