body {
    /*background-color: #faefcc;*/
    background-image:url('/static/img/share/background/greyzz.png');
    /*Download from http://subtlepatterns.com/*/
}

.lightgray {
    color: red;
}

.modal-content {
    font-size: 15px !important;
    text-align: center;
}


