<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    {% load rand %}
    <title>404 Not Found-deadend</title>

    <!-- 图标 -->
    <link rel="icon" href="{% static 'img/share/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'img/share/favicon.ico' %}" type="image/x-icon" />

    <style>
        body {
            background-image:url("{% static '' %}{% randBackground %}");
            font-weight: bold;
        }
    </style>
  </head>


  <body style="text-align: center;">
    <div style="margin-top:120px">
        <span style="font-size:200px;">404</span>
        <span style="font-size:30px;"> . Not Found</span>
    </div>
    <div style="font-size: 17px; color: gray">What I regret is not my failure, but that I could have done.</div>
  </body>
</html>
