<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <title>{% block ttl %}{% endblock %}</title>

    <!-- 图标 -->
    <link rel="icon" href="{% static 'img/share/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'img/share/favicon.ico' %}" type="image/x-icon" />

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
    {% block css %}{% endblock %}
  </head>

  <body>
    <!-- 导航栏 -->
    {# {% include 'include/__nav__.html' %} #}

    <!-- 实体 -->
    {# {% block body %}{% endblock %} #}

    <!-- 底栏 -->
    {# {% include 'include/__footer__.html' %} #}

    <button class="ui primary button">Save </button>
    <button class="ui button">Discard </button>

    <!-- js -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>