<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>{% block ttl %}{% endblock %}-deadend</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="zh-CN" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block meta %}{% endblock %}
    {% load staticfiles rand %}
    {% block loads %}{% endblock %}
    
    <!-- 图标 -->
    <link rel="icon" href="{% static 'img/share/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'img/share/favicon.ico' %}" type="image/x-icon" />

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/share/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/share/share.css' %}">
    {% block css %}{% endblock %}
    <style>
        body {
            background-image:url("{% static '' %}{% randBackground %}");
        }
    </style>
  </head>

  <body>

    <!-- 导航栏 -->
    {% include 'include/__inc_nav__.html' %}

    <!-- 实体 -->
    <div class="ui container">{% block body %}{% endblock %}</div>

    <!-- 底栏 -->
    {% include 'include/__inc_foot__.html' %}

    <!-- 模态框 -->
    {% include 'include/__inc_modal__.html' %}

    <!-- 固定位置标签 -->
    {% block fix %}{% endblock %}
    

    <!-- js -->
    <script src="{% static 'js/share/jquery.min.js' %}"></script>
    <script src="{% static 'js/share/js.cookie.js' %}"></script>
    <script src="{% static 'js/share/semantic.min.js' %}"></script>
    <script src="{% static 'js/share/ajaxPost.js' %}"></script>
    <script src="{% static 'js/share/share.js' %}"></script>
    {% block js %}{% endblock %}

    {# cnzz #} 
    <script src="https://s4.cnzz.com/z_stat.php?id=1259473862&web_id=1259473862" language="JavaScript"></script>
  </body>
</html>
